<div class="blog">

{{>nav}}


	<div class="blog-header">
		<div class="blog-header-content">
			<h3>BLOG</h3>
			<h6><i>" Cuando el conocimiento crece, la oportunidad aparece "</i></h6>
		</div>
	</div>

	<div class="blog-content">

			<div class="row">
				<div class="col-12">
					<div class="container posts">

								{{# each data.posts.results}}
								<div class="posts-child sombra1">
									<a href="{{postUrl slug}}" >
												{{#if image}}<img src="{{{cloudinaryUrl image crop='fit' }}}" class="post-img">{{/if}}
											<div class="post-data">
												<span> {{date publishedDate format='DD MM YYYY'}}</span>|<span class="text-muted">{{{categoryList categories}}}</span>
												<h5>{{{title}}}</h5>
												<p class="truncate">{{{content.brief}}}</p>
											</div>
											</a>
								</div>
								{{/each}}
					</div>
				</div>
				<!--<div class="col s3">
					<ul class="collection with-header">
						<li class="collection-header"><h4>First Names</h4></li>
						<li class="collection-item"><a href="/blog">Alvin</a></li>
						{{# each data.categories }}
						<li class="collection-item"><a href="{{categoryUrl key}}">{{name}}</a></li>
						{{/each}}
					</ul>

				</div> -->
			</div>



			{{>pagination}}
		</div>

</div>
