{{!!< default}}
<!-- SECCION HOME -->
	<div id="home">
			{{>home}}
	</div>

<!-- NavBar-->
{{>nav}}
<!-- What is -->
	<div id="servicios" class="content-section-b" style="border-top: 0">
		<div class="container">
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2 class="tituloSeccion">SERVICIOS</h2>
			</div>
			<div class="row servicios">
				<div class="servicio col-sm-4 wow fadeInDown text-center">
					<div class="servicio-card">
					<div class="front">
						<img class="rotate" src="images/icon/servicios-landing.svg" alt="Generic placeholder image">
						<h3>Landing Page</h3>
						<p class="lead">Creamos tu Landing Page para que tu producto o servicio sea visto por la mayor cantidad de personas posible </p>
						<p><a class="btn btn-embossed btn-primary view" role="button">Ver más</a></p>
					</div>
					<div class="back">
						<p class="lead">Una landing page, o página de aterrizaje, es una página web diseñada para mostrar detalles del producto o servicio que se desea vender, convirtiendo así, visitantes en clientes finales.</p>
						<p><a class="btn btn-embossed btn-primary card-back" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></p>
					</div>
					</div>
				</div><!-- /.col-lg-4 -->

				<div class="servicio col-sm-4 wow fadeInDown text-center">
					<div class="servicio-card">
					<div class="front">
					   <img  class="rotate" src="images/icon/servicios-comerce.svg" alt="Generic placeholder image">
					   <h3>E-Commerce</h3>
						 <p class="lead">Aumentamos el alcance de tus ventas de forma global y le damos funcionalidad
							  las 24 horas del día, todos los días </p>
						 <p><a class="btn btn-embossed btn-primary view" role="button">Ver más</a></p>
					</div>
					<div class="back">
						<p class="lead">EL e-commerce o comercio electrónico es un metodo de compraventa online de productos o servicios. Esta modalidad de comercio es muy popular actualmente y genera ventajas como eliminar barreras geográficas, reducir costos y aumentar la participación en la cartelera de los clientes</p>
						<p><a class="btn btn-embossed btn-primary card-back" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></p>
					</div>
					</div>
				</div><!-- /.col-lg-4 -->

				<div class="servicio col-sm-4 wow fadeInDown text-center">
					<div class="servicio-card">
					<div class="front">
					   <img  class="rotate" src="images/icon/servicios-mobile.svg" alt="Generic placeholder image">
					   <h3>Mobile Apps</h3>
						 <p class="lead">Transformamos tus ideas en aplicaiónes móviles de utilidad para ser descargadas en la mayor cantidad de dispositivos</p>
						 <p><a class="btn btn-embossed btn-primary view" role="button">Ver más</a></p>
					</div>
					<div class="back">
						<p class="lead">Sinceramente, no hay mucho que explicar sobre esto. ¿A cuantas personas conoce que no tenga un smartphone? Se podrían contar con los dedos de una mano.
							 El alcance de las aplicaciones moviles es inmenso </p>
						<p><a class="btn btn-embossed btn-primary card-back" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></p>
					</div>
					</div>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->
		</div>
	</div>

	<div  class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center white">
				<h2>¿Te interesan nuestros servicios?</h2>
				<a role="button" class="btn btn-primary" href="/contact" >Contactanos</a>
			 </div>
			</div>>
		</div>
	</div>

  <div class="content-section-b">
		<h2 class="tituloSeccion">EXPERIENCIA</h2>
		<div class="container">
      <div class="row">
        <div class="col-sm-6 wow fadeInLeftBig">
            <div id="owl-carousel" class="owl-carousel owl-theme">
							<a href="images/servicios/exp1.png" class="image-link">
								<div class="item">
									<img class="img-responsive img-rounded" src="images/servicios/exp1.png" alt="mockup gimnasio vital">
								</div>
							</a>
						</div>
      	</div>
        <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
						<div class="carousel-info animated">
			          <h3 class="section-heading">Landing page Gimnasio Vital</h3>
								<div class="sub-title lead3">Modelo de landing page responsivo, sencillo y util. Caracteristicas: </div>
								<ul>
									<li>Diseño intuitivo</li>
									<li>Diseño responsivo</li>
									<li>Animaciones de entrada</li>
									<li>Imagenes parallax</li>
									<li>Sistema de horarios con transiciones</li>
									<li>Google map con marcador personalizado</li>
									<li>Formulario de contacto</li>
								</ul>

								 <a class="btn btn-embossed btn-info" href="vitalgym/index.html" target="_blank" role="button">Ver</a></p>
						 </div>
				</div>
			</div>
    </div>
  </div>
	<!-- SECCION CONTACTO -->
	<div class="contacto section" id="contacto">
			<h2 class="tituloSeccion"> CONTACTO </h2>
			<div class="container">
				  <div class="col-12 col-md-6 wow slideInLeft contacto-formulario">
						<form method="post" id="form">
								<input type="hidden" name="action" value="contact">
								<div class="col col-md-6 col-sm-12">
									<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
										<label>Nombre</label>
										<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
									</div>
								</div>
								<div class="col col-md-6 col-sm-12">
									<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
										<label>Email</label>
										<input type="email" name="email" class="form-control" value="{{formData.email}}">
									</div>
								</div>
								<div class="col col-md-6 col-sm-12">
								<div class="form-group">
									<label>Teléfono</label>
									<input type="text" name="phone" placeholder="*opcional" class="form-control" value="{{formData.phone}}">
								</div>
							</div>
							<div class="col col-md-6 col-sm-12">
								<div class="form-group">
									<label>Motivo del mensaje</label>
									<input type="text" name="enquiryType" placeholder="*opcional" class="form-control" value="{{formData.enquiryType}}">
								</div>
							</div>
							<div class="col col-md-12 col-sm-12">
								<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
									<label>Mensaje</label>
									<textarea name="message" placeholder="Dejanos un mensaje..." rows="4" class="form-control">{{formData.message}}</textarea>
								</div>
							</div>
							<div class="col col-md-12 col-sm-12">
								<div class="form-actions">
									<button id="eviar-form" type="submit" class="btn btn-primary">Enviar</button>
								</div>
							</div>
						</form>

					</div>

				  <div class="col-12 col-md-6 contacto-datos wow slideInRight">
							<p>En caso de que tengas dudas, inquietudes o algun otro motivo,
								vas a poder contactarte con Coding Your Mind a través de nuestras redes sociales,
								teléfono o mail. Responderemos con gusto y lo antes posible.</p>
								<div class="contacto-telefono">
									<i class="fa fa-phone" aria-hidden="true"></i><span>+54 9 298-4862631</span>
								</div>
								<div class="contacto-mail">
									<i href="/contact" class="fa fa-envelope-o" aria-hidden="true"></i><span>contacto@codingyourmind.com</span>
								</div>
								<div class="redes-sociales">
									</br><p> También encontranos en nuestras redes sociales: </p>
									<div class="redes-sociales-iconos">
											<a href="https://www.facebook.com/codingyourmind/" target="_blank"> <i class="fa fa-facebook-square wow bounceInRight" data-wow-delay="0.5s" aria-hidden="true" id="ic-facebook"></i></a>
											<a href="https://www.instagram.com/codingyourmindarg/" target="_blank">	<i class="fa fa-instagram wow bounceInRight" data-wow-delay="1s" aria-hidden="true" id="ic-instagram"></i></a>
											<i class="fa fa-linkedin-square wow bounceInRight" data-wow-delay="1.5s" aria-hidden="true" id="ic-linkedin"></i>
											<a href="https://twitter.com/codeyourmindarg" target="_blank"><i class="fa fa-twitter-square wow bounceInRight" data-wow-delay="2s" aria-hidden="true" id="ic-twitter"></i></a>
									</div>
								</div>
					</div>
				</div>
		</div>
		<div id="footer">
			<h4>@codingyourmind</h4>
		</div>
		{{#if enquirySubmitted}}
		<div class="alert alert-success alert-dismissible form-enviado" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Su mensaje fue enviado!</strong> Nos pondremos en contacto lo antes posible.
		</div>
		{{/if}}
